{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>

        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <a href="/books/{{ book.pub_date }}">
                        <h2>{{ book.name }}</h2>
                    </a>
                    <p>Автор: {{ book.author }} </p>
                    <p>Дата публикации: {{ book.pub_date }} </p>
                </div>
            {% endfor %}
        </div>
    
    {% if page.has_previous %}
        <a class="button button-primary col-md-4" href="/books/{{ previous_data }}"> <<{{ previous_data }}</a>
    {% endif %}
    
    {% if page.has_next %}
        <a class="button button-primary col-md-4" href="/books/{{ next_date }}"> {{ next_date }}>></a>
    {% endif %}

    </div>
{% endblock %}